body {
  background-color: #9d88d3;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  color: white;
  overflow-x: hidden;
}
/* 定好主题 */
/* 运用包装类把内容规整 */
.wrapper {
  position: relative;
}
/* 设置图片格式 */
img{
  width: 50%;
  height: 50%;
  object-fit: cover;/* 使图片缩小 */
}

#content {
  margin: 2vh auto;
  width: 80vw;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

hr {
  border-bottom: 6px dashed white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#counter-container {
  text-align: center;
  font-weight: bold;
  margin: 64px 0;
}

/* 设置跳转到下一个界面的方式 */
#counter-button {
  background-color: #574f84;
  border: none;
  border-radius: 16px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 16px;

  position: relative;
  overflow: hidden;
  box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}
/* 设置鼠标移到改为之后发生颜色变化 */
#counter-button:hover {
  background-color: #2d2463;
}





